// variables.scss

// Colors
$background-color: #282c34;
$text-color: #ffffff;
$link-color: #61dafb;

// Dimensions
$logo-height: 40vmin;
$header-font-size: calc(10px + 2vmin);

// Animation
$spin-duration: 20s;
