.navbar-buttons {
    display: flex;
    gap: 16px;

    .nav-button {
        font-family: 'Hanken Grotesk', sans-serif;
        font-weight: 600;
        text-transform: none;
        padding: 6px 12px;
        transition: border-color 0.3s ease-in-out;

        &:hover {
            background-color: rgba(239, 233, 221, 0.12);
        }
    }
}
